/* FONT CONNECTION
==================================================*/

/* SPECIFICATION
==================================================*/

body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(255, 132, 83);
}

.prev,
.next {
  width: 1120px;
  height: 120px;
  background-color: #fff;
}

/* HEADER
==================================================*/

.header {

}

.header__nav {

}

.header__logo {

}

.header__list {
  list-style: none;
}